@page
@model Settings.ApiKeys.ApiKeysNewModel

@using Microsoft.AspNetCore.Antiforgery;

@using Pages.Shared.Components

@inject IAntiforgery antiforgery
@{
    ViewData["Title"] = "New API Key";
    var csrfToken = antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}

<section class="px-5 w-full">
    <div class="w-full relative">
        <p class="max-w-3xl mt-6">Create a new API key</p>

        <partial name="Components/_CreateApiKeyForm" model='
            new CreateApiKeyFormModel {
                CSRF = csrfToken,
            }
        ' />
    </div>
</section>