<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ManeKani</title>
    <link rel="stylesheet" href="~/css/colors.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bundle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ManeKani.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="drawer w-full lg:drawer-open">
        <input id="sidebar-drawer" type="checkbox" class="drawer-toggle" />
        <aside class="drawer-side z-50">
            <label for="sidebar-drawer" class="lg:hidden drawer-overlay"> </label>
            <partial name="Components/_Sidebar" model='new Components.SidebarModel() { }' />
        </aside>
        <div class="drawer-content ml-0 lg:ml-[15rem]">
            <header>
                @await Html.PartialAsync("Components/_Navbar", new Components.NavbarModel() { })
            </header>
            <div class="w-full mt-16">
                <main role="main" class="pb-3 w-full">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/htmx.org@2.0.1"
        integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
        crossorigin="anonymous"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
