@layer base {
  :root {
    --text: 22 9 3;
    --background: 254 252 251;
    --primary: 234 78 28;
    --secondary: 232 219 213;
    --accent: 233 101 57;

    --text-950: 243 242 242;
    --text-900: 231 228 228;
    --text-800: 206 202 202;
    --text-700: 182 175 175;
    --text-600: 157 149 149;
    --text-500: 133 122 122;
    --text-400: 106 98 98;
    --text-300: 80 73 73;
    --text-200: 53 49 49;
    --text-100: 27 24 24;
    --text-50: 13 12 12;

    --background-50: 242 242 242;
    --background-100: 230 230 230;
    --background-200: 204 204 204;
    --background-300: 179 179 179;
    --background-400: 153 153 153;
    --background-500: 128 128 128;
    --background-600: 102 102 102;
    --background-700: 77 77 77;
    --background-800: 51 51 51;
    --background-900: 26 26 26;
    --background-950: 13 13 13;

    --primary-50: 253 237 232;
    --primary-100: 251 219 208;
    --primary-200: 246 183 162;
    --primary-300: 242 147 115;
    --primary-400: 238 111 68;
    --primary-500: 233 75 22;
    --primary-600: 187 60 17;
    --primary-700: 140 45 13;
    --primary-800: 93 30 9;
    --primary-900: 47 15 4;
    --primary-950: 23 7 2;

    --secondary-50: 246 241 239;
    --secondary-100: 236 227 223;
    --secondary-200: 218 198 190;
    --secondary-300: 199 170 158;
    --secondary-400: 181 141 125;
    --secondary-500: 162 113 93;
    --secondary-600: 130 90 74;
    --secondary-700: 97 68 56;
    --secondary-800: 65 45 37;
    --secondary-900: 32 23 19;
    --secondary-950: 16 11 9;

    --accent-50: 245 241 239;
    --accent-100: 235 227 224;
    --accent-200: 215 198 193;
    --accent-300: 195 170 162;
    --accent-400: 175 142 131;
    --accent-500: 156 113 99;
    --accent-600: 124 91 80;
    --accent-700: 93 68 60;
    --accent-800: 62 45 40;
    --accent-900: 31 23 20;
    --accent-950: 16 11 10;
  }

  .dark {
    --text: 252 239 233;
    --background: 4 2 1;
    --primary: 229 73 21;
    --secondary: 43 30 24;
    --accent: 197 66 22;

    --text-950: 13 13 12;
    --text-900: 27 26 24;
    --text-800: 54 51 48;
    --text-700: 80 77 73;
    --text-600: 107 102 97;
    --text-500: 134 128 121;
    --text-400: 158 153 148;
    --text-300: 182 179 175;
    --text-200: 207 204 201;
    --text-100: 231 230 228;
    --text-50: 243 242 242;

    --background-50: 13 13 13;
    --background-100: 26 26 26;
    --background-200: 51 51 51;
    --background-300: 77 77 77;
    --background-400: 102 102 102;
    --background-500: 128 128 128;
    --background-600: 153 153 153;
    --background-700: 179 179 179;
    --background-800: 204 204 204;
    --background-900: 230 230 230;
    --background-950: 242 242 242;

    --primary-50: 23 7 2;
    --primary-100: 47 15 4;
    --primary-200: 93 30 9;
    --primary-300: 140 45 13;
    --primary-400: 187 60 17;
    --primary-500: 233 75 22;
    --primary-600: 238 111 68;
    --primary-700: 242 147 115;
    --primary-800: 246 183 162;
    --primary-900: 251 219 208;
    --primary-950: 253 237 232;

    --secondary-50: 16 11 9;
    --secondary-100: 32 23 19;
    --secondary-200: 65 45 37;
    --secondary-300: 97 68 56;
    --secondary-400: 130 90 74;
    --secondary-500: 162 113 93;
    --secondary-600: 181 141 125;
    --secondary-700: 199 170 158;
    --secondary-800: 218 198 190;
    --secondary-900: 236 227 223;
    --secondary-950: 246 241 239;

    --accent-50: 16 11 10;
    --accent-100: 31 23 20;
    --accent-200: 62 45 40;
    --accent-300: 93 68 60;
    --accent-400: 124 91 80;
    --accent-500: 156 113 99;
    --accent-600: 175 142 131;
    --accent-700: 195 170 162;
    --accent-800: 215 198 193;
    --accent-900: 235 227 224;
    --accent-950: 245 241 239;
  }
}